@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.heading {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}