$primary-color: #00BDD3;
$secondary-color: #F4E041;
$hover-secondary-color: #FFE302;
$disabled-color: #B4B4B4;
$background-color: #F8F8F8;
$surface-сolor: white;
$contrast-background-color: #090a0a;
$error-color: #CB3D40;
$border-color: #D0CFCF;

$primary-text-color: #000000DE;
$secondary-text-color: #7E7E7E;
$contrast-text-color: white;