@import '/src/styles/color-constants';

.action-btn{
    width: 100px;
    height: 34px;
    background: $secondary-color;
    border: 0 solid;
    border-radius: 80px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.action-btn:hover{
    background: $hover-secondary-color;
}

.action-btn:disabled{
    background: $disabled-color;
    color:     $background-color;
}