@import '/src/styles/color-constants';

.input-container-container{
  display: flex;
  align-items: start;
  flex-direction: column;
}

.input-container {
  position: relative;
}

.input {
  height: 54px;
  width: 380px;
  border: 1px solid $border-color;
  background-color: $background-color;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
}

.label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.label .text {
  transition: all 0.15s ease-out;
  color: $secondary-text-color;
}

.input:focus {
  outline: none;
  border: 2px solid $primary-color;
}
.error:focus{
  outline: none;
  border: 2px solid $error-color;
}

.input:focus + .label .text, :not(input[value=""]) + .label .text {
  font-size: 12px;
  transform: translate(0, -100%);
  background-color: $background-color;
  padding-left: 4px;
  padding-right: 4px;
}

.input:focus + .label .text {
  color: $primary-color;
}

.error:focus + .label .text {
  color: $error-color;
}

.helper-text{
  height: 0;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  color: $secondary-text-color;
  top: 4px;
  left: 16px;
}
